/*all cover or main photos must be 1400x800px*/

* { 
    font-family: "helvetica", sans-serif; 
}

nav{
/*    color: pink;*/
/*    background: #3dd;*/
    position: absolute;
    z-index: 1;
/*    top: 0;*/
/*    list-style: none;*/
    
    
}

li{
    list-style: none;
    display: inline-block;
    margin-left: 13px;
    
    
}

a{ 
    color:white;
    text-decoration: none;
    padding-right: 10px;
}

.navlogo{
    height: 50px;
}



#lalala {
/*    background-image:url('http://i.imgur.com/RvQdH.jpg');*/
    width:100%;        
    margin-left:auto;
    margin-right:auto;
    background-position:center;
    background-repeat:no-repeat;
   }


/*********** HOME PAGE STYLING ***********/
.row2{
    width: 100%;
    height: 100%;
/*    background-size: cover;*/
    top: 0;
/*    padding: 2% 0;*/
/*    object-fit: cover;*/

}


.wordhov{
    background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
/*  display: table;*/
/*  height: 150px;*/
    background-size: cover;
/*  left: 0;*/
  position: absolute;
  top: 5%;
/*  width: 150px;*/
  opacity: 0;
    height:73%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    text-align:center;
    overflow:hidden;
}

.wordhov:hover{
    opacity: 1;
}


.wordsty{
/*    padding: 0;*/
    font-size: 1.5em;
    
}


.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

.content {
    position:absolute;
    height:80%;  = 100% - 2*10% padding 
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5% 20%;
    text-align:center;
    overflow:hidden;
}




body{
    
    margin: 0;
   
}






img.bg {
    
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  margin: auto; 

}


@media screen and (max-width: 1024px) {  Specific to this particular image 
  img.bg {
    left: 50%;
    margin-left: -512px; 50%
  }
}







/*********** WORK PAGE STYLING ***********/




/*MUURI GRID STYLING */

.grid {
  position: relative;
  margin: 35px;
}
.item {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 5px;
  z-index: 1;
}
.item.muuri-dragging,
.item.muuri-releasing {
  z-index: 2;
}
.item.muuri-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}


.item.w1 {
  background: #bcd;
/*  width: 100%;*/
  
}

.item.w2 {
  background: #fdd;
  width: 210px;
  height: 210px;
}

.item.w3 {
  background: #cde;
  width: 320px;
  height: 210px;
}

.item.w3:hover{
  background: #000;
/*   opacity:50%; */
}


.item.w4 {
  background: #fea;
  width: 100px;
  height: 210px;
}

.item.w5 {
  background: #aef;
  width: 210px;
  height: 430px;
}

.item.w6 {
  background: #fae;
  width: 210px;
  height: 100px;
}








/*END MUURI GRID STYLING*/


img.topcover {
    
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  margin: auto; 

}




#content {
/*    text-align: justify;*/
    position: relative;
}

div img.images {
    display: inline-block;
    width: auto;
    height: 33%;
    margin: 0;
    padding: 0;
}

div:after {
    content: '';
    display: inline-block;
    width: 100%;
}





/*************** ABOUT STYLE***************/



.aboutnav{
     position: fixed;
/*    z-index: 1;*/
}




.wordsss>p{
  
    width: 40%;
    padding: 20px 5%;
    margin-top: 350px;
    color: #fff;
    position: fixed;
/*    z-index: 1;*/
    
}

.wordsss>img{
    
    width: 150px;
    padding: 5% 15%;
    margin: 100px 0;
        position: fixed;

/*    z-index: 1;*/
    vertical-align: center;
    border-radius: 50%;
}



.parasss{
     width:45%;
    float: right;
    padding: 20px 10px;
/*    margin-top: 10px;*/
    color: #000;
    position: relative;
/*    z-index: 1;*/
}




body {
    background: #fff;
}
.body:before {
    content:'';
    position: fixed;
    height: 100%;
    width: 50%;
    right: 50%;
    background: maroon;
}




















/*********** CONTACT ME PAGE STYLING ***********/


a.contactnav{
    color: #000;
}

/*
form{
    position: relative;
    padding: 200px;
    margin: auto;
    text-align: center;
}
*/




form{
  position: relative;
  width: auto;
  height : 498px;
  margin-top: 200px;
    
  
}

.sendme{
/*   width: 1000px; */
  padding: 5px 4px 5px 15px;
  margin: 200px;
  border: 2px green solid;
}

.formstyle{
  width: 350px;
  height: 215px;
  padding: 5px 8px 5px 15px;
  margin: 2px;
  border: 4px black solid;
  position: absolute;
  font-size: 3em;
}

.formstyle.name{
  width: 350px;
  height: 100px;
}


.formstyle.email{
  width: 350px;
  height: 100px;
  

/*   margin: 150px auto; */
}



#name {
  position: absolute;
  left : 25px;
  top  : 0px;
}

#email {
  position: absolute;
  left: 25px;
  top: 115px;
  
}



#message {
  position: absolute;
  left : 403px;
  top  : 0px;
}

#send {
  color: gray;
  position: absolute;
  left: 50%;
  top: 250px;
  border: 4px black solid;
  background: #fff;
  font-size: 3em;
  
  margin: auto;
  
}

#send:hover{
  border: 4px maroon solid;
  color: maroon;
}

.formstyle:hover{
  border: 4px maroon solid;
  z-index: 1;
}






