/*all cover or main photos must be 1400x800px*/

* { 
    font-family: "helvetica", sans-serif; 
}

nav{
/*    color: pink;*/
/*    background: #3dd;*/
    position: absolute;
    z-index: 1;
/*    top: 0;*/
/*    list-style: none;*/
    
    
}

li{
    list-style: none;
    display: inline-block;
    
    
}

a{ 
    color:white;
    text-decoration: none;
    padding-right: 10px;
}

.navlogo{
    height: 50px;
}


body{
    
    margin: 0;
   
}




img.bg {
    
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  margin: auto; 

}


@media screen and (max-width: 1024px) {  Specific to this particular image 
  img.bg {
    left: 50%;
    margin-left: -512px; 50%
  }
}







/* WORK STYLE*/

img.topcover {
    
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  margin: auto; 

}




#content {
/*    text-align: justify;*/
    position: relative;
}

div img.images {
    display: inline-block;
    width: auto;
    height: 33%;
    margin: 0;
    padding: 0;
}

div:after {
    content: '';
    display: inline-block;
    width: 100%;
}


